<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Travel Japan</title>
<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
   <body>
   <div class="container">
   <h1>travel japan</h1>
     <div class="col-md-4">
        <div class="alert alert-danger" th:if="${param.error}">
            Invalid username and password.
        </div>
        <div class="alert alert-warning" th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/}" method="post">
            <div><label> Username : <input type="text" name="username" class="form-control"/> </label></div>
            <div><label> Password: <input type="password" name="password" class="form-control"/> </label></div>
            <div><input type="submit" class="btn btn-success" value="Sign In"/></div>
        </form>
        <a th:href="@{/register}">Register new user</a>
		</div>
	</div>
    </body>
</html>